{% extends 'core/base.html' %}
  
{% load static %}

{% load crispy_forms_tags %}

{% block contenido %}
    <div class="searchUser rounded-sm">
        <div class="text-center">
            <img class="logoLol" src="{% static 'core/img/lolLogo.png' %}" alt="">
        </div>
        <br>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ summForm | crispy }}
            <input type="submit" class="btn btn-secondary" value="Buscar">
        </form>
    </div>
    <hr>
    <div class="winratio">
        <div>
            
        </div>
    </div>

    <div class="freeChamp">
        <h4>Rotacion Semanal:</h4>
        {% for i in champfree %}
            <img src="http://ddragon.leagueoflegends.com/cdn/10.2.1/img/champion/{{i}}.png" class="mt-2">    
        {% endfor %}

    </div>
    <hr>



{% endblock %}